.root {
  width: 100%;
}

.list {
  gap: 10px;
}

.tab {
  border-radius: 80px;
  background: #6370bb;
  color: white;
  text-transform: uppercase;
  padding: 12px 18px;
}

.tab:hover {
  background: #6370bb9d;
  color: white;
}

.tab[data-active='true'],
.tab[data-active] {
  background: #8fbf29 !important;
  color: white !important;
}

.panel {
  padding: 0;
}
