@import "tailwindcss";

@theme {
  --color-primaryColor: #312f86;
  --color-secondaryColor:  #8FBF29;
  --color-earaDark: #272727;
  --color-earaDark-lighter: #272727;
  --color-earaBgLight: #EDEDFA;
  --color-earaBgDark: #E2E2E5;
}

body{
  background-color: var(--color-earaBgLight) !important;
}